{% extends "master.html" %}


   <!-- Page Content -->
   <div class="container">
     <div class="row">
       <!-- /.col-lg-3 -->
       {% block main_content %}
         <div class="row">
           {% for author in authors %}
           <div class="col-lg-4 col-md-6 mb-4">
             <div class="card h-100">
               {% if author.image %}
                 <a href="#"><img class="card-img-top" src="{{'/author'|add:author.image.url}}" alt="" style="width:250px;height:250px;"></a>
                 {% else %}
                 <a href="#"><img class="card-img-top" src="#" alt=""></a>

               {% endif %}
               <div class="card-body">
                 <h4 class="card-title">
                   <a href="/author/{{author.id}}">{{ author.author_name }}</a>
                 </h4>
                 {% if author.born_at %}
                 <h5>Born: {{ author.born_at }}</h5>
                 {% endif %}

                 <p class="card-text">{{ author.bio|slice:":50" |add:'...'}}</p>
               </div>
               <div class="card-footer">


               </div>
             </div>
           </div>
           {% empty %}
                 <h2 class="content">No Authors</h2>

           {% endfor %}


         </div>


         {% endblock %}

     </div>

   </div>
