{% extends "master.html" %}


   <!-- Page Content -->
   <div class="container">
       <!-- /.col-lg-3 -->
       {% block main_content %}

             <div class="card h-100">
               {% if author.image %}
                 <img class="card-img-top" src="{{'/book'|add:author.image.url}}" alt="" style="width:200px;height:200px;">
                 {% else %}
              <img class="card-img-top" src="#" alt="">

               {% endif %}
               <div class="card-body">
                 <h4 class="card-title">
                   <p>{{ author.author_name }}</p>
                 </h4>
                 {% if author.born_at %}
                 <p>Born at: {{ author.born_at }}</p>
                 {% endif %}

                  {% if author.died_at %}
                 <p>Died at: {{ author.died_at }}</p>
                 {% endif %}
                 <p>Nationality: {{ author.author_nationality }}</p>
                 <p>Bio: {{ author.bio }}</p>

                 <div class="container-fluid">
                   <div class="row">
                     <h3>Author Books</h3>
                     {% for book in books %}
                 <div class="col-lg-4">
                    <a href="{{book.id}}">
                   {% if book.image %}
                     <img  src="{{'/book'|add:book.image.url}}" alt="Generic placeholder image" width="140" height="140">

                     {% else %}
                     <img  src="/book/media/defbookcover.jpg" alt="Generic placeholder image" width="140" height="140">

                   {% endif %}
                           <h3> {{ book.title }}</h3>
                        </a>
                           <h4>published at: {{ book.published_at }}</h4>
                           <p>
                             {{ book.summary|slice:":50" |add:'...'}}
                           </p>
                           <!-- <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star"></span>
                           <span class="fa fa-star"></span> -->
                           <!-- {% for i in "x"|ljust:5 %}
                                 <span class="fa fa-star checked"></span>
                            {% endfor %} -->
                         <p><a class="btn btn-default" href="{{book.id}}" role="button">View details »</a></p>
                         </div>
                         <p id="book_id" book_id="{{book.id}}" style="display:none">

                         {% endfor %}
             </div>
                 <!-- /.row -->

               {% endblock %}
               <!-- main_content -->

             </div>
             <!-- /.row -->
