body>div.container{
   margin-top: 5%;
 }

.content {
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
   }

.checked {
     color: orange;
 }
.fa-star:hover{
  cursor: pointer;
}
