{% extends 'master.html'%}

{% block righnavtbar %}

<ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Log In</b> <span class="caret"></span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
           <div class="row">
              <div class="col-md-12">

                 <form class="form" role="form"  method="post" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                      {% csrf_token %}
                    {{ loginForm.as_table}}</div>
                    <p class="error">{{error}}</p>
                    <div class="form-group">
                       <button value="login" name='submit' type='submit' class="btn btn-primary btn-block">Sign in</button>
                    </div>

                 </form>
              </div>
              <div class="bottom text-center">
              </div>
           </div>
        </li>
      </ul>
        </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Sign Up</b> <span class="caret"></span></a>
<ul id="login-dp" class="dropdown-menu">
  <li>
     <div class="row">
        <div class="col-md-12">
          Login via
          <div class="social-buttons">
            <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
            <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
          </div>
                          or


           <form class="form" role="form"  method="post" accept-charset="UTF-8" id="login-nav">
              <div class="form-group">
                {% csrf_token %}
              {{ registerform.as_table}}</div>
              <p class="error">{{userExistError}}</p>
              <div class="form-group">
                 <button value="register" name='submit' type='submit' class="btn btn-primary btn-block">Sign up</button>
              </div>

           </form>
        </div>
        <div class="bottom text-center">
        </div>
     </div>
  </li>
</ul>

{% endblock %}
