{% extends "master.html" %}


   <!-- Page Content -->
   <div class="container">
       <!-- /.col-lg-3 -->
       {% block main_content %}

             <div class="card h-100">
               {% if author.image %}
                 <img class="card-img-top" src="{{'/author'|add:author.image.url}}" alt="" style="width:200px;height:200px;">
                 {% else %}
              <img class="card-img-top" src="#" alt="">

               {% endif %}
               <div class="card-body">
                 <h4 class="card-title">
                   <p>{{ author.author_name }}</p>
                 </h4>

                 {% for bookk in books %}
                 <div class="col-lg-4 col-md-6 mb-4">
                   <div class="card h-100">
                     {% if book.image %}
                       <a href="#"><img class="card-img-top" src="{{'/book'|add:book.image.url}}" alt="" style="width:250px;height:250px;"></a>
                       {% else %}
                       <a href="#"><img class="card-img-top" src="#" alt=""></a>

                     {% endif %}
                     <div class="card-body">
                       <h4 class="card-title">
                         <p>{{ book.name }}</a>
                 {% endfor %}


               </div>
               <div class="card-footer">




               </div>
             </div>



         {% endblock %}


   </div>
