{% extends "master.html" %}
{% load static %}

{{req.dept }}

    {% block title %}Shop Homepage - Start Bootstrap Template{% endblock %}

    <!-- Page Content -->
    <div class="container-fluid">
      <div class="row">
        {%block sidebar %}
          <h1 class="my-4">Shop Name</h1>
          <div class="list-group">
            {% for  category in  categories %}
            <a href="#" class="list-group-item">{{category.name}}</a>
            {% endfor %}
          </div>
         {% endblock %}
        <!-- /.col-lg-3 -->
      {% block main_content %}
          <!-- <div class="row">
            {% for book in books %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                {% if book.image %}
                  <a href="#"><img class="card-img-top" src="{{'/book'|add:book.image.url}}" alt=""></a>
                  {% else %}
                  <a href="#"><img class="card-img-top" src="#" alt=""></a>

                {% endif %}
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{book.id}}">{{ book.title }}</a>
                  </h4>
                  <h5>published: {{ book.published_at }}</h5>
                  <p class="card-text">{{ book.summary|slice:":50" |add:'...'}}</p>
                </div>
                <div class="card-footer">


                  {% for i in "x"|ljust:book.rate %}
                    <small class="fa fa-star checked"></small>
                  {% endfor %}

                </div>
              </div>
            </div>
            {% empty %}
              <!-- <div class="col-lg-4 col-md-6 mb-4"> -->
                  <h2 class="content">No Books in Library</h2>
              <!-- </div> -->
            {% endfor %}
          </div> -->
          <div class="container-fluid">
            <div class="row">
              {% for book in books %}
          <div class="col-lg-4">
            {% if book.image %}
              <img class="img-circle" src="{{'/book'|add:book.image.url}}" alt="Generic placeholder image" width="140" height="140">

              {% else %}
              <img class="img-circle" src="#" alt="Generic placeholder image" width="140" height="140">

            {% endif %}
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
                  </div>
                  {% endfor %}
      </div>
          <!-- /.row -->

        {% endblock %}
        <!-- main_content -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
