{% extends "master.html" %}
{% load static %}

{{req.dept }}

    {% block title %}Shop Homepage - Start Bootstrap Template{% endblock %}

    <!-- Page Content -->
    <div class="container-fluid">
      <div class="row">
        {%block sidebar %}
          <h1 class="my-4">Categories</h1>
          <div class="list-group">
            {% for  category in  categories %}

            <a href="#"  class="list-group-item">{{category.name}}
              {% if category.id in favourites %}

                <span cat_id="{{category.id}}" class="fa fa-heart checked"></span>
                {% else %}
                <span cat_id="{{category.id}}" class="fa fa-heart"></span>
              {% endif %}
            </a>
            {% endfor %}
          </div>
         {% endblock %}
        <!-- /.col-lg-3 -->
      {% block main_content %}
          <!-- <div class="row">
            {% for book in books %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                {% if book.image %}
                  <a href="#"><img class="card-img-top" src="{{'/book'|add:book.image.url}}" alt=""></a>
                  {% else %}
                  <a href="#"><img class="card-img-top" src="#" alt=""></a>

                {% endif %}
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{book.id}}">{{ book.title }}</a>
                  </h4>
                  <h5>published: {{ book.published_at }}</h5>
                  <p class="card-text">{{ book.summary|slice:":50" |add:'...'}}</p>
                </div>
                <div class="card-footer">


                  {% for i in "x"|ljust:book.rate %}
                    <small class="fa fa-star checked"></small>
                  {% endfor %}

                </div>
              </div>
            </div>
            {% empty %}
              <!-- <div class="col-lg-4 col-md-6 mb-4"> -->
                  <h2 class="content">No Books in Library</h2>
              <!-- </div> -->
            {% endfor %}
          </div>
          <div class="container-fluid">
            <div class="row">
              {% for book in books %}
          <div class="col-lg-4">
             <a href="{{book.id}}">
            {% if book.image %}
              <img  src="{{'/book'|add:book.image.url}}" alt="Generic placeholder image" width="140" height="140">

              {% else %}
              <img  src="/book/media/defbookcover.jpg" alt="Generic placeholder image" width="140" height="140">

            {% endif %}
                    <h3> {{ book.title }}</h3>
                 </a>
                    <h4>published at: {{ book.published_at }}</h4>
                    <p>
                      {{ book.summary|slice:":50" |add:'...'}}
                    </p>
                    <!-- <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span> -->
                    <!-- {% for i in "x"|ljust:5 %}
                          <span class="fa fa-star checked"></span>
                     {% endfor %} -->
                  <p><a class="btn btn-default" href="{{book.id}}" role="button">View details »</a></p>
                  </div>
                  <p id="book_id" book_id="{{book.id}}" style="display:none">

                  {% endfor %}
      </div>
          <!-- /.row -->

        {% endblock %}
        <!-- main_content -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
