body{
    background:url('imges/BG.jpg');
}
.postCont{
  padding: 1px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
  border:inset;
  background-color:black ;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  width: 80%;

}
.div_inline{
  display: inline;
  float:left;
  width: 35%;
  margin-left: 3%;
}

.div1_inline{
  display: inline;
  float:left;
  width: 20%;
  margin-left: 3%;
  margin-top: 4%;
}
.post{
  padding: 3px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
  border:inset;
  background-color:white;
  border-radius: 20px;
  border-width: 1px;
  border-color: black;
  height:17%;
  width: 90%;
}

.side{
  width: 100%;
  height: 100%;
  border:inset;
  border-radius: 20px;
  border-width: 1px;
  background-color: black;
}
.name{
  padding:.02%;

}

.register_logo{
  background: url('imges/GRbg.jpg');
  width:100px;
  height: 900px;
  background-color: red;
}
strong {
    color: white;
}
.error{
  text-decoration-color: red;
  color: red;
}


.navbar{
  border-radius: 0;
  margin-bottom:5px;
}
.navbar-brand{
  font-family: 'Satisfy',cursive;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
